*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

.square{
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid gray;
    display: inline-block;
    
}

.o{
    position: relative;
}
.o::after{
    content: "\✖️";
    font-size: 50px;
    line-height: 100px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}

.x{
    position: relative;
}
.x::after{
    content: "\️⭕";
    font-size: 50px;
    line-height: 100px;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}