*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans HK', sans-serif;

}
html, body{
	height: 100%;

}
header > .container{
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 2%;
	display: flex;
}
.clear{
	clear: both;
}
.w50{
	float: left;
	width: 50%;
	padding: 15px;
}
.container{
	max-width:1200px;
	margin: 0 auto;
	padding: 0 2%;
}
header{
	background-color: #5e3ea1;
	padding: 15px 0;
}
.logo{
	width: 50%;


}
.logo a{
	color: white;
	font-size: 20px;
	text-decoration: none;
}
nav{
	width: 50%;
	text-align: right;
}

nav a{
	color: white;
	text-decoration: none;
}
nav a:hover{
	text-decoration: underline;
}
nav ul{
	list-style-type: none;
}
nav li{
	font-size: 17px;
	padding: 3px 18px;
	display: inline-block;
}

/*Section chamada*/

.texto-chamada{
	background-color: #4c3282;
	padding: 20px 0;
	text-align: center; 
	color: white;
	font-weight: normal;

}
.texto-chamada i{
	font-size: 48px;
}
.texto-chamada h2, .texto-chamada h3{
	font-size: 20px;
	font-weight: normal;
} 
.texto-chamada b{
	color: red;
}

/*section cursos*/

section.cursos{
	padding: 30px 0;

}
.space > .box-single{
	border: 1px solid #ccc;
	height: 100%;
/*Esse height em 100% garante que nossas divs se baseiem no tamanho da nossa flexbox*/
}
.space > .box-single h2{
 text-align: center;
 padding: 6px 8px;
 font-weight: normal;
}
.space > .box-single p{
	padding: 0 12px;
	font-size: 15px;
	color: gray;
	text-align: center;
}
.fflex{
display: flex;
flex-wrap: wrap;

}

.box-single img{
	max-width: 100%;
}
.space{
 width: 33.3%;	
 padding: 20px;
 margin-bottom: 20px;

}

.botao{
	width: 100%;
	background-color: green;
	color: white;
	font-size: 14px;
	text-align: center;
	border: 0;
	padding: 10px 0;
	opacity: 0.6;
	
}
.space a{	background-color: green;
	opacity: 0.6;
	padding: 10px 8px;
	text-align: center;
	color: white;
	width: 100%;
	display: block;
	text-decoration: none;
}
/*section noticias*/
.noticias{
padding: 20px 0;
}

.depoimentos h1, .noticias h1{
	font-size: 23px;
	font-weight: normal;
	color: #4b4b4b;
	text-align: center;
}
.depoimentos p, .noticias p{

}

.box-single-noticia{
 padding: 20px 0;
 border-bottom: 1px dotted #ccc;
}

.box-single-noticia h2{
	font-size: 22px;
	font-weight: normal;
	color: black;
}

.box-single-noticia p{
	font-size: 22px;
	font-weight: normal;
	color: rgb(110,110,110);
}

.depoimentos-single{
	text-align: center;

	padding-bottom: 20px;
	padding-left: 20px;
}
.depoimentos-single i{
	font-size: 46px;
	padding: 34px 20px;
	color: black;
}
.depoimentos h2{
	font-size: 21px;
	color: rgb(100,100,100);
}

footer{
	background-color: #402e66;
	padding: 15px 0;
}
footer h3{
	color: white;
	font-size: 23px;
	font-weight: bolder;
	float: left;
}
footer p{
	color: white;
	font-size: 19px;
	float: right;

}

@media (max-width: 768px){
	.space{
		width: 50%;
		max-width: 500px;
		margin: 20px auto;
	}
	.box-single-noticia{
		text-align: center;
	}
	.w50{
		width: 100%;
	}
	.container{
		max-width: 600px;
	}
	footer{
		text-align: center;
	}
	footer h3, footer p{
		padding: 5px 0;
		float: none;
		display: block;
	}
}

@media (max-width: 590px){
	.space{
		width: 100%;
	}
	nav li{
		font-size: 12px;
	}
}












